:root {
  --charcoal: #264653;
  --persian-green: #2a9d8f;
  --yellow-crayola: #e9c46a;
  --sandy-brown: #f4a261;
  --burnt-sienna: #e76f51;
}

.banner {
  background-color: var(--charcoal);
  color: white;
  border-bottom-color: var(--persian-green) !important;
}

.clock {
  color: var(--yellow-crayola);
}
